{% extends 'login/base.html' %}

{% load static %}

{% block content %}
    <div class="login-wrapper" xmlns="http://www.w3.org/1999/html">
        <div class="form-wrapper sign-in">
{#            <form name="loginform" action="" onsubmit="return validateform()">#}
            <form name="login" action="{% url 'login_own' %}" method="post">
                {% csrf_token %}
                <h2>Login</h2>
                {% if messages %}
                    {% for message in messages %}
                        {% if message.tags != "warning" %}
                            <p id="message-{{ message.tags }}">{{ message }}</p>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <div class="input-group">
                    <input type="text" name="username" required>
                    <label for="">Username</label>
                </div>
                <div class="input-group">
                    <input type="email" name="email" required>
                    <label for="">Email</label>
                </div>
                <div class="input-group">
                    <input type="password" name="password" required>
                    <label for="">Password</label>
                </div>
{#                <div class="remember">#}
{#                    <label>#}
{#                        <input type="checkbox">#}
{#                        Remember me#}
{#                    </label>#}
{#                </div>#}
                <button type="submit" value="Login" class="submit" name="login">
                    Login
                </button>
                <div class="signUp-link">
                    <p>Don't have an account?
                        <a href="#" class="signUpBtn-link">Sign Up</a></p>
                </div>
            </form>
        </div>

        <div class="form-wrapper sign-up">
            <form name="sign-up" action="{% url 'login_own' %}" method="post">
                {% csrf_token %}
                <h2>Sign Up</h2>
                {% if messages %}
                    {% for message in messages %}
                        {% if message.tags == "warning" %}
                            <p id="message-{{ message.tags }}">{{ message }}</p>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <div class="input-group">
                    <input type="text" name="name" required>
                    <label for="">Username</label>
                </div>
                <div class="input-group">
                    <input type="email" name="email" required>
                    <label for="">Email</label>
                </div>
                <div class="input-group">
                    <input type="password" name="password" required>
                    <label for="">Password</label>
                </div>
{#                <div class="remember">#}
{#                    <label>#}
{#                        <input type="checkbox">#}
{#                        I agree to the term & conditions#}
{#                    </label>#}
{#                </div>#}
                <button type="submit" value="Sing Up" class="submit" name="sign-up">
                    Sing Up
                </button>
                <div class="signUp-link">
                    <p>Already have an account?
                        <a href="#" class="signInBtn-link">Sign In</a></p>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
