{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="field-image">
        {% if field.image %}
            <img src="{{ field.image.url }}" alt="football" />
        {% endif %}
    </div>
    <div class="field-title">
        <h1>{{ field.name }}</h1>
    </div>
    <div class="calendar-booking">
        <div class="grid-calendar">
            <div class="wrapper">
                <header>
                    <p class="current-date">December 2022
                        <p id="current-date-month">12</p>
                        <p id="current-date-year">2022</p>
                        <p id="userNameId" style="visibility: hidden">{{ user.id }}</p>
                    </p>
                    <div class="icons">
                        <p id="userName">{{ user.username }}</p>
                        <span id="prev" class="material-symbols-rounded">chevron_left</span>
                        <span id="next" class="material-symbols-rounded">chevron_right</span>
                    </div>
                </header>
                <div class="calendar">
                    <ul class="weeks">
                        <li>Sun</li>
                        <li>Mon</li>
                        <li>Tue</li>
                        <li>Wed</li>
                        <li>Thu</li>
                        <li>Fri</li>
                        <li>Sat</li>
                    </ul>
                    <ul class="days">

                    </ul>
                </div>
            </div>
            <div class="booking-time">
                <div class="booking-times">
                    <p class="message" id="message"></p>
                    <ul class="booking-schedule" id="booking-schedule">

                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}